/* 左侧栏 */
.sidebar-left {
  width: 22.5%;  /* 修改为30% */
  height: 100%;
  overflow: hidden;
}

/* 中间聊天区域 */
.chat-area {
  flex: 55%;  /* 修改为0.4 */
  height: 100%;
  display: flex;
  overflow: hidden;
}

/* 右侧栏 */
.sidebar-right {
  width: 22.5%;  /* 修改为30% */
  height: 100%;
  overflow: hidden;
}
